{% extends "rides/base.html" %}

{% block content %}
<form action="{% url 'users:user_edit_profile' user.username %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="row">
        <div class="col-4 col-sm-6">
            <label>Telefono:</label>
        </div>
        <div class="col-8 col-sm-6">
            {{ form.phone_number }}
        </div>
        <div class="col-4 col-sm-6">
            <label>Telefono celular:</label>
        </div>
        <div class="col-8 col-sm-6">
            {{ form.cell_phone_number }}
        </div>
        <div class="col-4 col-sm-6">
            <label>Matricula:</label>
        </div>
        <div class="col-8 col-sm-6">
            {{ form.student_number }}
        </div>
    </div>
    <input type="submit" value="Guardar">
</form>
{% endblock content %}