{% extends "../rides/base.html" %}

{% block content %}
<div class="row">
    <div class="col-12">
        <h2>{{ user_profile.user.username }}</h2>
        {% if user.username == user_profile.user.username %}
        <a href="{% url 'users:user_edit_profile' user.username %}">Editar</a>
        {% endif %}
        <hr>
    </div>

    <div class="col-md-4 col-lg-3">
        {% if user_profile.image %}
        <img src="{{ user_profile.image.url }}" alt="{{ user_profile.user.username}} ">
        {% endif %}
    </div>
</div>
{% endblock content %}