{% extends "../rides/base.html" %}

{% block content %}
<div class="profile">
    <div class="row">

        <div class="col-md-4 col-lg-3 text-center">
            {% if user_profile.image %}
            <img src="{{ user_profile.image.url }}" alt="{{ user_profile.user.username}}"
                 class="avatar rounded-circle">
            {% endif %}
            <h2>{{ user_profile.user.username }}</h2>

            {% if user.username == user_profile.user.username %}
            <div class="col-12">
                <a href="{% url 'users:user_edit_profile' user.username %}" class="btn btn-info">Editar
                    perfil</a>
            </div>
            {% endif %}
        </div>

        <div class="col-md-8 col-lg-9">
            {% include '../common/ride_list.html' with user_owner=user_profile.user ver_mas=True %}
        </div>

    </div>
</div>
{% endblock content %}